/* Reset */
* { box-sizing: border-box; }

/* Declarative classes */
.pull-left { float: left; }

/* Specific classes */
.beard { min-height: 100px; }
.beard .controls { height: 100%; padding: 10px; }
	.beard .controls .play { font-size: 2.8em; padding: 10px; }

.beard .display { font-size: 1.1em; height: 100%; padding: 10px; }
	.beard .display > div { margin: 10px 0; }